venv/

.idea/

chat-annotation/frontend/node_modules/
chat-annotation/frontend/dist/
chat-annotation/frontend/npm-debug.log*
chat-annotation/frontend/yarn-debug.log*
chat-annotation/frontend/yarn-errocdr.log*

.vscode/*
